/* General CSS */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.first-part, .container{
    background-color: #2D25A0;
}
button{
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
    color: snow;
    display: flex  ;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    
}
#burger-btn{
    display: none;
    color: white;
}




/* Top Navigation */
.nav-option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 156px;
    padding-right: 120px;
    padding-top: 42px;
}
.nav-option a{
    text-decoration: none;
    padding-right: 36px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: snow;
}




/* First section: HOME */
.home{
    display: flex;
    justify-content: space-between;
    
    padding-left: 156px;
    padding-top: 50px;
    padding-right: 120px;
    padding-bottom: 86px;
}
.home-image{
    width: 556.01px;
    height: 438px; 
}
.home-title{
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: seashell;
    padding-top: 72px;
    margin-top: 0%;
    margin-bottom: 27px;
    width: 485px;
    height: 230px;  
}





/* <!-- Second section: Player list --> */
.second-section{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-left: 180px;
    padding-right: 210px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.player{
    padding: 15px;
    width: 300px;
    height: 415px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-image{
    width: 300px;
    height: 256px;
}


.player h3{
    margin-top: 16px;
    margin-bottom: 10px; 
}
.player-info{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
    margin-top: 10px;
    margin-bottom: 18px; 
}





/* Third Section: Highlight */
.highlight{
    display: flex;
    justify-content: space-evenly;
    padding-top: 165px;
    padding-left: 182px;
    padding-right: 156px;
}
.highlight-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.highlight-info h3{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;

    width: 469px;
    height: 120px;
    margin: 0%;
} 

.highlight p{
    width: 404px;
    height: 113px;
    left: 0px;


    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;

}
.highlight-img{
    width: 567px;
    height: 427px;
}




/* Footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 158px;
    margin-bottom: 63px;
}
footer p{
    font-size: 18px;
    line-height: 24px;
    margin-top: 0%;
}
footer img{
    align-items: center;
    width: 483.87px;
    height: 110px;
}




/* for Social Media Icons */
.footer-SM{
    background: rgba(11, 13, 23, 0.123);
    margin-right: 14px;
    padding: 8px;
    border-radius: 18px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color:#969BAB;
    ;

}




/* Bonus experiments */
/* Animation and Transition */
.home-image:hover{
    animation: pop 0.3s;
}
@keyframes pop{
    50%  {transform: scale(1.2);}
  }
.button:hover{
    transform: scale(1.2);;

}

/* Highlight extra */
.highlight-extra{
    background-color: #E02C6D;
    margin-top: 50px;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 80px;
    padding-bottom: 50px;

}
.highlight-extra iframe:hover{
    animation: pop 0.5s linear;
}




/* Media query */
   /* mobile device */
   @media only screen and (max-width: 688px) {    
   .home, .container{
        width: 100%;
        margin: 0%;
        padding-left: 13px;
    }
    .home-title{
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
         width: 138px;
       margin: 0%;
        margin-right: 0%;
        padding-top: 0%;
        padding-right: 66px;
    }
    .home-image{
        margin-top: 50px;
        width: 329px;
        height: 259.17px;
        padding: 0%;

    }
    /* for NAV */
    .nav-option{
        padding-top: 30px;
        padding-left: 13px;
        justify-content: space-between;
    }
    .nav-option button{
        width: 89.98px;
        height: 32.88px;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }
    .nav-optn, .highlight-extra{
        display: none;
    }
    #burger-btn{
        display: inline;
    }


    /* highlight */
    .highlight{
        width: 100%;
        margin: 0%;
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 0px;
    }
    
    .highlight-info>h3{
        width: 294px;
        height: 80px;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
    }
    .highlight-info>p{
        width: 329px;
        height: 143px;
    }
    .highlight-img{
        padding-top: 50px;
        width: 85%;
        height: 85%;
        padding-left: 0;
    }

    /* Footer */
    footer{
        width: 100%;
        margin: 0%;
   

    }
    footer img{
        padding-top: 43px;
        width: 271px;
        height: 63px;
    }

     .players{
         grid-template-columns: repeat(1, 1fr);
     }
     .home, .player, .highlight{
         flex-direction: column;
     }
}

/* /tablet devices */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    .home, .container, footer{
        
        margin: 0%;
        padding-left: 13px;
    }
    .home{
        justify-content: space-between;
align-items: center;
    }
    .home-title{
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
         width: 138px;
       margin: 0%;
        margin-right: 0%;
        padding-top: 0%;
        padding-right: 66px;
        
    }
    .home-image{
        width: 329px;
        height: 259.17px;
        padding: 0%;
        margin-left: 200px;

    }
    /* for NAV */
    .nav-option{
        padding-top: 30px;
        padding-left: 13px;
        padding-right: 21px;
    }
    .nav-option button{
        width: 89.98px;
        height: 32.88px;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }

    .nav-optn, .highlight-extra{
        display: none;
    }
    #burger-btn{
        display: inline;
    }

    /* highlight */
    .highlight{
        width: 100%;
        margin: 0%;
        padding-top: 60px;
        padding-left: 0px;
        padding-right: 0px;
        align-items: center;
        justify-content: center;
    }
    
    .highlight-info>h3{
        width: 294px;
        height: 80px;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
    }
    .highlight-info>p{
        width: 329px;
        height: 143px;
    }
    .highlight-img{
        width: 50%;
        height: 50%;
    }
    /* Footer */
    footer{
        width: 100%;
        margin: 0%;
        padding-left: 13px;

    }
    footer img{
        padding-top: 43px;
        width: 271px;
        height: 63px;
    }

     .players{
         grid-template-columns: repeat(2, 1fr);
     }
     .player{
         flex-direction: column;
     }
     footer{
         position: static;
     }
}
